{{ partial "header.html" . }}

{{ partial "navigation.html" . }}

<section class="section blog-single-page">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center block wow fadeInUp" data-wow-duration="500ms" data-wow-delay="300ms">
                <h1 class="post-title">{{ .Title }}</h1>
                <img class="img-responsive post-thumb d-inline-block" src="{{ .Params.image | absURL }}" alt="blog-image">                
                {{ $dateTime := .PublishDate.Format "2006-01-02" }}
                {{ $dateFormat := .Site.Params.dateFormat | default "Jan 2, 2006" }}
                <i data-feather="calendar"></i> <time datetime="{{ $dateTime }}">{{ .PublishDate.Format $dateFormat }}</time>   
                <ul id="tags-single">Tags:
                    {{ range .Params.tags }}
                      <li><a href="{{ $.Site.BaseURL }}/tags/{{ . | urlize }}">{{ . }}</a> </li>
                    {{ end }}
                </ul>                  
            </div>
            <div class="col-md-8 col-md-offset-2">
                <div class="post-single-content">
                    {{ .Content }}
                </div>
                <ul class="links-fonts">
                  {{ range .Params.fuentes }}
                  <li><a href="{{ .Params.fuentes }}" class="link-to-font"></a></li>
                  {{ end }}
                </ul>
                <div id="author-about">
                  <div class="av-holder">
                    <img class="avatar-author img-responsive"src="{{ .Params.author.image }}" alt="">
                  </div>
                    <div class="author-data">
                      <span class="author-title">Sobre la persona detrás de este artículo:</span>
                      <div class="name-age-author">
                        <span>{{ .Params.author.name }},</span>
                        <span>{{ .Params.author.age }}</span>
                      </div>
                      <div class="rrss-author">
                        <span>En twitter: <a href="{{ .Params.author.twitter }}" target="_blank">{{ .Params.author.arrobat }}</a></span>
                        <span>En instagram: <a href="{{ .Params.author.instagram }}" target="_blank">{{ .Params.author.arrobai }}</a></span>
                      </div>
                        <span class="about-author-text">{{ .Params.author.description }}</span><br>
                    </div>
                  </div>
            </div>
        </div>
    </div>
</section>

{{ partial "footer.html" . }}

{{ partial "copyright.html" . }}
