{{ partial "header.html" . }}

{{ partial "navigation.html" . }}

<section id="form-colaborate">
  <div id="form-holder">
    <h1 class=" heading wow fadeInUp" data-wow-duration="300ms" data-wow-delay="300ms">
      {{ with .Site.Params.form.title }} {{ . | safeHTML }} {{ end }}</h1>
    </h1>
    <form class="ceus-form" action="/submit/">
      <h2 class="title-in-form">Rellena el formulario y presiona enviar!</h2>
      <div class="line-form">
        <input type="radio" class="ceus-check" name="conditions">
        <span>Declaro ser mayor de 18 años.</span>
      </div>
      <div class="line-form">
          <input type="radio" class="ceus-check" name="conditions">
          <span>Declaro haber leído detalladamente y acepto lo establecido en los documentos: <a href="https://letb.s3-sa-east-1.amazonaws.com/CEUS/aboutUs/ceus_estatutos.pdf" target="_blank">Estatutos, </a>
            <a href="https://letb.s3-sa-east-1.amazonaws.com/CEUS/aboutUs/ceus_normativaPrevencionYSancionDeAccionesDeViolenciaSexual.pdf"target="_blank"> Normativa de prevención y sanción de acciones de violencia sexual y </a>
            <a href="https://letb.s3-sa-east-1.amazonaws.com/CEUS/aboutUs/ceus_protocoloDeComportamientoYEtica.pdf" target="_blank">Protocolo de Comportamiento y ética</a></span>
      </div>
      <div class="line-form">
          <input type="radio" class="ceus-check" name="conditions">
          <span>Declaro que realicé un deposito/transferencia electrónica de $5.513 CLP (0,2 UF) correspondiente al valor de la membresía, en la Cuenta Vista del Banco Santander N°
              7005389512, a nombre de Italo Muñoz, Rut: 19184527-7 y correo electrónico inscripcionsocios@ceuschile.cl, añadiendo un mensaje con tus datos del tipo "Nombre Apellido CEUS Chile".</span>
      </div>
      <label for="upload-form" class="label-form">Selecciona un archivo como comprobante de depósito o transferencia bancaria</label>
      <input type="file" id="upload-form" name="uploadField" />
      <label for="input-form" class="label-form">Nombre(s)</label>
      <input type="text" class="input-form" placeholder="Escribe tu nombre aquí..." />
      <div class="lineIN-form">
        <div class="pair-column-form">
          <label for="input-form" class="label-form">Apellido Paterno</label>
          <input type="text" class="input-form" placeholder="Escribe tu apellido parterno aquí..." />
        </div>
        <div class="pair2-column-form">
          <label for="input-form" class="label-form">R.U.T</label>
          <input type="text" class="input-form" placeholder=11.111.111-1 />
        </div>
      </div>
      <div class="lineIN-form">
        <div class="pair-column-form">
          <label for="input-form" class="label-form">Apellido Materno</label>
          <input type="text" class="input-form" placeholder="Escribe tu apellido materno aquí..." />
        </div>
        <div class="pair2-column-form">
          <label for="input-form" class="label-form">Fecha de Nacimiento</label>
          <input type="text" class="input-form" placeholder="dd-mm-aaaa" />
        </div>
      </div>
      <div class="lineIN-form">
        <div class="pair-column-form">
          <label for="input-form" class="label-form">Correo electrónico</label>
          <input type="text" class="input-form" placeholder="ejemplo@mimail.com" />
        </div>
        <div class="pair2-column-form">
          <label for="input-form" class="label-form">Teléfono de contacto</label>
          <input type="text" class="input-form" placeholder="56 9 99999999" />
        </div>
      </div>
      <select class="select2-ceus" name="Región">
        <option value="SelectYourOption" disabled selected>Selecciona la región donde vives</option>
        <option value="IRegión">I Región de Tarapacá</option>
        <option value="IIRegión">II Región de Antofagasta</option>
        <option value="IIIRegión">III Región de Atacama</option>
        <option value="IVRegión">IV Región de Coquimbo</option>
        <option value="VRegión">V Región de Valparaíso</option>
        <option value="VIRegión">VI Región del Libertador General Bernardo O'Higgins</option>
        <option value="VIIRegión">VII Región del Maule</option>
        <option value="VIIIRegión">VIII Región del Biobío</option>
        <option value="IXRegión">IX Región de la Araucanía</option>
        <option value="XRegión">X Región de Los Lagos</option>
        <option value="XIRegión">XI Región de Aysén</option>
        <option value="XIIRegión">XII Región de Magallanes y la Antártica Chilena</option>
        <option value="RegiónM">Región de Metropolitana de Santiago</option>
        <option value="XIVRegión">XIV Región de Los Ríos</option>
        <option value="XVRegión">XV Región de Arica y Parinacota</option>
        <option value="XVIRegión">XVI Región de Ñuble</option>
      </select>
      <label for="input-form" class="label-form">Institución educativa donde estudias o estudiaste</label>
      <input type="text" class="input-form" placeholder="Escribe aquí el nombre de tu colegio, Instituto Profesional o Universidad" />
      <input type="submit" value="¡Enviar a CEUS Chile!">
    </form>
  </div>  
</section>

{{ partial "footer.html" . }}