{{ partial "header.html" . }}

{{ partial "navigation.html" . }}

<section id="form-colaborate">
  <div id="form-holder">
    <h1 class=" heading wow fadeInUp" data-wow-duration="300ms" data-wow-delay="300ms">
      Estamos trabajando en nuestro formulario de inscripciones
    </h1>
    <div class="thanks-mssg">
        <p class="thanks-text">Queremos corroborar que todo funcione bien antes de que puedas inscribirte. Agradecemos tu comprensión y paciencia. 
          ¡Te invitamos a seguir navegando por nuestra página!</p>
        <a href="/" class="back-to-home">Volver al inicio</a>
    </div>
  </div>
</section>

{{ partial "footer.html" . }}