{{ if .Site.Params.about.enable }}
<section id="about-us">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block">
                    <h1 class="heading wow fadeInUp" data-wow-duration="400ms" data-wow-delay="500ms" >
                        {{ with .Site.Params.about.title }} {{ . | safeHTML }} {{ end }}
                    </h1>
                    <div class="our-allies">
                        <a href="https://mma.gob.cl" target="_blank">
                            <img class="ceus-allies" src="{{ .Site.Params.about.MMAImage | absURL }}" alt="Logo Ministerio del Medio Ambiente">
                        </a>
                        <a href="http://ingenieria.uchile.cl" target="_blank">
                            <img class="ceus-allies" src="{{ .Site.Params.about.FCFMImage | absURL }}" alt="Logo Facultad de Ciencias Físicas y Matemáticas de la Universidad de Chile">
                        </a>
                        <a href="http://entel.cl" target="_blank">
                            <img class="ceus-allies" src="{{ .Site.Params.about.entelImage | absURL }}" alt="Logo Entel">
                        </a>
                        <a href="https://www.instagram.com/volo.food" target="_blank">
                            <img class="ceus-allies" src="{{ .Site.Params.about.voloImage | absURL }}" alt="Logo Voló Food">
                        </a>
                        <a href="http://www.cei.cl/" target="_blank">
                            <img class="ceus-allies" src="{{ .Site.Params.about.CEIImage | absURL }}" alt="Logo Centro de Estudiantes de Ingeniería de la Universidad de Chile">
                        </a>
                        <a href="http://ingenieria.uchile.cl/sustentabilidad" target="_blank">
                            <img class="ceus-allies" src="{{ .Site.Params.about.FCFMSustentabilidadImage | absURL }}" alt="Logo Centro de Estudiantes de Ingeniería de la Universidad de Chile">
                        </a>
                        <a href="https://www.facebook.com/SCAC.Chile/" target="_blank">
                            <img class="ceus-allies" src="{{ .Site.Params.about.SCACImage | absURL }}" alt="Logo Centro de Estudiantes de Ingeniería de la Universidad de Chile">
                        </a>
                        <a href="https://www.facebook.com/coychile/" target="_blank">
                            <img class="ceus-allies" src="{{ .Site.Params.about.COY15Image | absURL }}" alt="Logo Centro de Estudiantes de Ingeniería de la Universidad de Chile">
                        </a>
                        <a href="https://www.cop25.cl/web/" target="_blank">
                            <img class="ceus-allies" src="{{ .Site.Params.about.COP25Image | absURL }}" alt="Logo Centro de Estudiantes de Ingeniería de la Universidad de Chile">
                        </a>
                        <a href="http://www.cr2.cl/" target="_blank">
                            <img class="ceus-allies" src="{{ .Site.Params.about.CR2Image | absURL }}" alt="Logo Centro de Estudiantes de Ingeniería de la Universidad de Chile">
                        </a>
                        <a href="http://isf-chile.org/" target="_blank">
                            <img class="ceus-allies" src="{{ .Site.Params.about.INGSinFronterasImage | absURL }}" alt="Logo Centro de Estudiantes de Ingeniería de la Universidad de Chile">
                        </a>
                        <a href="https://www.facebook.com/FEUC2019/" target="_blank">
                            <img class="ceus-allies" src="{{ .Site.Params.about.FEUCImage | absURL }}" alt="Logo Centro de Estudiantes de Ingeniería de la Universidad de Chile">
                        </a>
                        <a href="https://www.acciona.com/es/" target="_blank">
                            <img class="ceus-allies" src="{{ .Site.Params.about.accionaImage | absURL }}" alt="Logo Centro de Estudiantes de Ingeniería de la Universidad de Chile">
                        </a>
                        <a href="http://sustentable.uc.cl/" target="_blank">
                            <img class="ceus-allies" src="{{ .Site.Params.about.UCImage | absURL }}" alt="Logo Centro de Estudiantes de Ingeniería de la Universidad de Chile">
                        </a>
                        <a href="http://sustentabilidad.usm.cl/" target="_blank">
                            <img class="ceus-allies" src="{{ .Site.Params.about.UTFSMImage | absURL }}" alt="Logo Centro de Estudiantes de Ingeniería de la Universidad de Chile">
                        </a>
                        <a href="http://www.injuv.gob.cl/" target="_blank">
                            <img class="ceus-allies" src="{{ .Site.Params.about.INJUVImage | absURL }}" alt="Logo Centro de Estudiantes de Ingeniería de la Universidad de Chile">
                        </a>
                        <a href="https://www.sodimac.cl/static/site/nuestra-empresa/index.html" target="_blank">
                            <img class="ceus-allies" src="{{ .Site.Params.about.SodimacImage | absURL }}" alt="Logo Centro de Estudiantes de Ingeniería de la Universidad de Chile">
                        </a>
                        <a href="https://www.lush.cl/" target="_blank">
                            <img class="ceus-allies" src="{{ .Site.Params.about.LushImage | absURL }}" alt="Logo Centro de Estudiantes de Ingeniería de la Universidad de Chile">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{{end}}