<section id="axes">
  <div id="axes-holder">
    <h1 class=" heading wow fadeInUp" data-wow-duration="300ms" data-wow-delay="300ms">
      {{ with .Site.Params.axes.title }} {{ . | safeHTML }} {{ end }}</h1>
    </h1>
    <div class="axes-draw"> 
      <div class="logo-axes"><img src="https://letb.s3-sa-east-1.amazonaws.com/CEUS/aboutUs/ceus_2019.png"></div>
      <div class="axespop-overlay edu-over">
        <div class="axespop-content edu-cont">
          <div class="content-axesIn">
            <div class="top-axesIn">
              <button class="axes-close edu-close"><i class="fa fa-times"></i></button>
              <h2 class="axesIn-title">Educación</h2>
            </div>
            <div class="bott-axesIn">
              <img class="axesIn-img"src="https://letb.s3-sa-east-1.amazonaws.com/CEUS/aboutUs/axesIcons/ceus_axeseducation_icon.png">   
              <p class="axesIn-text">Luchamos por una educación inclusiva, equitativa y de calidad. Queremos promover oportunidades de aprendizaje durante toda la vida para todos.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="axespop-overlay soc-over">
        <div class="axespop-content soc-cont">
          <div class="content-axesIn">
            <div class="top-axesIn">
              <button class="axes-close soc-close"><i class="fa fa-times"></i></button>
              <h2 class="axesIn-title">Sociedad</h2>
            </div>
            <div class="bott-axesIn">
              <img class="axesIn-img"src="https://letb.s3-sa-east-1.amazonaws.com/CEUS/aboutUs/axesIcons/ceus_axesSociety_icon.png">   
              <p class="axesIn-text">Creemos en una sociedad justa, pacífica e inclusiva, donde podamos garantizar una vida sana para todos. 
                Luchamos por el fin de la pobreza en todas sus formas y creemos en la igualdad de género, por lo que promovemos el 
                empoderamiento de mujeres y niñas.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="axespop-overlay env-over">
          <div class="axespop-content env-cont">
            <div class="content-axesIn">
              <div class="top-axesIn">
                <button class="axes-close env-close"><i class="fa fa-times"></i></button>
                <h2 class="axesIn-title">Medio Ambiente</h2>
              </div>
              <div class="bott-axesIn">
                <img class="axesIn-img"src="https://letb.s3-sa-east-1.amazonaws.com/CEUS/aboutUs/axesIcons/ceus_axesEnvironment_icon.png">   
                <p class="axesIn-text"> Creemos urgente tomar las medidas para combatir el cambio climático y sus consecuencias. 
                    Necesitamos gestionar sosteniblemente los bosques, la disponibilidad de agua, luchar contra la desertificación, detener e invertir la degradación de 
                    las tierras y la pérdida de la biodiversidad, complementando con el 
                    acceso a una energía asequible, segura, sostenible y moderna para todos.
                </p>
              </div>
            </div>
          </div>
        </div>
    </div>  
    <button class="axes-open text-axes education edu-open">Educación</button>
    <button class="axes-open text-axes society soc-open">Sociedad</button>
    <button class="axes-open text-axes environment env-open">Medio<br>Ambiente</button>
      
      <!--<h2 class="text-axes society">Sociedad</h2>
      <h2 class="text-axes environment">Medio <br>Ambiente</h2>
      <h2 class="text-axes developmentS">Desarrollo <br>Sustentable</h2>-->
    </div>    
  </div>
</section>