<section id="axes">
  <div id="axes-holder">
    <h1 class=" heading wow fadeInUp" data-wow-duration="300ms" data-wow-delay="300ms">
      {{ with .Site.Params.axes.title }} {{ . | safeHTML }} {{ end }}</h1>
    </h1>
    <div class="axes-draw"> 
      <div class="logo-axes"><img src="https://letb.s3-sa-east-1.amazonaws.com/CEUS/aboutUs/ceus_2019.png"></div>
      <div class="axespop-overlay">
        <div class="axespop-content">
          <div class="content-axesIn">
            <div class="top-axesIn">
              <button class="axes-close"><i class="fa fa-times"></i></button>
              <h2 class="axesIn-title">Educación</h2>
            </div>
            <div class="bott-axesIn">
              <img class="axesIn-img"src="https://letb.s3-sa-east-1.amazonaws.com/CEUS/aboutUs/axesIcons/ceus_axeseducation_icon.png">   
              <p class="axesIn-text">Luchamos por una educación inclusiva, equitativa y de calidad. Queremos promover oportunidades de aprendizaje durante toda la vida para todos.</p>
            </div>
          </div>
        </div>
      </div>
    </div>  
    <button class="axes-open text-axes education">Educación</button>
      
      <!--<h2 class="text-axes society">Sociedad</h2>
      <h2 class="text-axes environment">Medio <br>Ambiente</h2>
      <h2 class="text-axes developmentS">Desarrollo <br>Sustentable</h2>-->
    </div>    
  </div>
</section>