<section id="axes">
  <div id="axes-holder">
    <h1 class=" heading wow fadeInUp" data-wow-duration="300ms" data-wow-delay="300ms">
      {{ with .Site.Params.aboutUs.title }} {{ . | safeHTML }} {{ end }}</h1>
    </h1>
    <div class="axes-draw"> 
        <div class="logo-axes"><img src="https://letb.s3-sa-east-1.amazonaws.com/CEUS/aboutUs/ceus_2019.png"></div>
        <h2 class="text-axes education">Educación</h2>
        <h2 class="text-axes society">Sociedad</h2>
        <h2 class="text-axes environment">Medio <br>Ambiente</h2>
        <h2 class="text-axes developmentS">Desarrollo <br>Sustentable</h2>
    </div>
    
  </div>

</section>