<section id="bylaw">
  <h1 class=" heading wow fadeInUp" data-wow-duration="300ms" data-wow-delay="300ms">
   {{ with .Site.Params.bylaw.title }} {{ . | safeHTML }} {{ end }}</h1>
  <div class="btns-bylaw">
    <div class="btn-bylaw"><a href="https://letb.s3-sa-east-1.amazonaws.com/CEUS/aboutUs/ceus_estatutos.pdf" class="download-statutes" download target="_blank">Estatutos</a></div>
    <div class="btn-bylaw"><a href="https://letb.s3-sa-east-1.amazonaws.com/CEUS/aboutUs/ceus_normativaPrevencionYSancionDeAccionesDeViolenciaSexual.pdf" class="download-statutes" download target="_blank">Normativa de prevención y sanción de acciones de violencia sexual</a></div>
    <div class="btn-bylaw"><a href="https://letb.s3-sa-east-1.amazonaws.com/CEUS/aboutUs/ceus_protocoloDeComportamientoYEtica.pdf" class="download-statutes" download target="_blank">Protocolo de Comportamiento y ética</a></div>
  </div>
</section>