<section id="bylaw">
  <h1 class=" heading wow fadeInUp" data-wow-duration="300ms" data-wow-delay="300ms">
   {{ with .Site.Params.bylaw.title }} {{ . | safeHTML }} {{ end }}</h1>
  <div class="btns-bylaw">
    <div class="btn-bylaw"><a href="" class="download-statutes" download>Estatutos</a></div>
    <div class="btn-bylaw"><a href="" class="download-statutes" download>Normativa de prevención y sanción de acciones de violencia sexual</a></div>
    <div class="btn-bylaw"><a href="" class="download-statutes" download>Protocolo de Comportamiento y ética</a></div>
  </div>
</section>