<section id="price">
    <div class="form-call">
        <div class="text-call">
            <h6 class="call-text">¡Te queremos en el equipo!</h6>
            <p class="explain-call">Si eres mayor de 18 años, llena el <a href="/temporal/"class="link-toform">formulario</a> 
                y nos pondremos en contacto contigo. ¡Contamos con tu apoyo!</p>
        </div>
        <div class="img-responsive-square">
            <img src="https://letb.s3-sa-east-1.amazonaws.com/CEUS/ceus_callForm_img.png" class="img-callform img-responsive">
        </div>
    </div>
</section>
    

