{{ "<!-- header-img start  -->" | safeHTML }}


{{ if .Site.Params.heroArea.enable }} 
<section id="hero-area">
  <div id="slider-holder">
    <div class="slide active">
      <div class="phraseimg-ceus">
        <h6 class="slide-text">Somos la red de estudiantes, técnicos/as y profesionales
          sustentables de Chile</h6>
        <div class="frame-ceus-img">
          <img src="https://letb.s3-sa-east-1.amazonaws.com/CEUS/ceus_heroSlider1.png" class="slide-img-ceus img-responsive">
          <a href="/aboutus/" class="about-link-ceus">Lee más sobre nosotros!</a>
        </div>
      </div>
    </div>
    <div class="slide">
      <div class="phraseimg-ceus">
        <h6 class="slide-text">Desde 2016 realizamos el congreso de sustentabilidad más grande del país</h6>
        <div class="frame-ceus-img">
          <img src="https://letb.s3-sa-east-1.amazonaws.com/CEUS/ceus_heroSlider2.png" class="slide-img-ceus img-responsive">
          <a href="/aboutus/" class="about-link-ceus">Lee más sobre nosotros!</a>
        </div>
      </div>      
    </div>
    <div class="slide">
      <div class="phraseimg-ceus">
        <h6 class="slide-text">Queremos unir a las personas en torno a la sustentabilidad para generar innovación</h6>
        <div class="frame-ceus-img">
          <img src="https://letb.s3-sa-east-1.amazonaws.com/CEUS/ceus_heroSlider3.png" class="slide-img-ceus img-responsive">
          <a href="/aboutus/" class="about-link-ceus">Lee más sobre nosotros!</a>
        </div>
      </div> 
    </div>       
  </div>
  <i id="hero-arrow-r" class="fa fa-angle-right"></i>
  <i id="hero-arrow-l" class="fa fa-angle-left"></i>      
  </div>
</section>
{{ end }}




