{{ "<!-- header-img start  -->" | safeHTML }}

<section id="hero-about">
  <div id="about-holder">
    <div class="welcome-about">
      <div class="who-descript">
        <h1 class="who-title">¿Quiénes somos?</h1>
        <hr>
        <div class="descript-text">Somos una organización sin fines de lucro que funciona como una red de estudiantes, técnicos y profesionales sustentables.
          Reunimos a personas de distintas disciplinas a lo largo de todo el país en torno a la sustentabilidad. 
          Desde 2016 que organizamos el Congreso Estudiantil Universitario de Sustentabilidad, la instancia más grande en Chile en torno a esta materia creada por y para estudiantes.</div>
      </div>
      </div>
    </div>
    
          

</section>