{{ "<!-- header-img start  -->" | safeHTML }}


{{ if .Site.Params.heroArea.enable }} 
<section id="hero-area">
  
    <div class="slider-holder">
      <span id="slider-image-1"></span>
      <span id="slider-image-2"></span>
      <span id="slider-image-3"></span>
      <div class="image-holder">
        <div class="slider-group-caption">
            <h6>Somos la red de estudiantes, técnicos/as y profesionales sustentables</h6>
            <div class="img-plus-btn">
                <img src="https://letb.s3-sa-east-1.amazonaws.com/CEUS/slidericon_1.png" class="slider-image img-responsive" />
                <a href="#" class="about-conection">Lee más sobre nosotros</a>
            </div>  
        </div>
        <div class="slider-group-caption">
          <h6>Desde 2016 que realizamos el Congreso de Sustentabilidad más grande del país</h6>
          <div class="img-plus-btn">
              <img src="https://letb.s3-sa-east-1.amazonaws.com/CEUS/slidericon_2.png" class="slider-image img-responsive" />
              <a href="#" class="about-conection">Lee más sobre nosotros</a>
          </div>  
        </div>
        <div class="slider-group-caption">
          <h6>Queremos unir a las personas en torno a la Sustentabilidad para generar innovación</h6>
          <div class="img-plus-btn">
              <img src="https://letb.s3-sa-east-1.amazonaws.com/CEUS/slidericon_3.png" class="slider-image img-responsive" />
              <a href="#" class="about-conection">Lee más sobre nosotros</a>
          </div>  
        </div>
        
        
      </div>
      <div class="button-holder">
          <a href="#slider-image-1" class="slider-change"></a>
          <a href="#slider-image-2" class="slider-change"></a>
          <a href="#slider-image-3" class="slider-change"></a>
      </div>
  </div>

</section>
{{ end }}
