{{ "<!-- header-img start  -->" | safeHTML }}


{{ if .Site.Params.heroArea.enable }} 
<section id="hero-area">
  <div id="slider-holder">
    <div class="slide active">
      <div class="phraseimg-ceus">
        <h6 class="slide-text">Somos la red de estudiantes, técnicos/as y profesionales
          sustentables de Chile</h6>
        <img src="https://letb.s3-sa-east-1.amazonaws.com/CEUS/slidericon_1.png" class="slide-img-ceus img-responsive">
      </div>
    </div>
    <div class="slide">
      <div class="phraseimg-ceus">
        <h6 class="slide-text">Desde 2016 realizamos el congreso de sustentabilidad más grande del país</h6>
        <img src="https://letb.s3-sa-east-1.amazonaws.com/CEUS/slidericon_2.png" class="slide-img-ceus img-responsive">
      </div>      
    </div>
    <div class="slide">
      <div class="phraseimg-ceus">
        <h6 class="slide-text">Queremos unir a las personas en torno a la sustentabilidad para generar innovación</h6>
        <img src="https://letb.s3-sa-east-1.amazonaws.com/CEUS/slidericon_3.png" class="slide-img-ceus img-responsive">
      </div> 
    </div>       
  </div>
    <i id="hero-arrow-r" class="fa fa-angle-right"></i>
    <i id="hero-arrow-l" class="fa fa-angle-left"></i>      
  </div>
</section>
{{ end }}




