    <section id="subscribe">
       <h1 class=" heading wow fadeInUp" data-wow-duration="300ms" data-wow-delay="300ms">
        {{ with .Site.Params.subscription.title }} {{ . | safeHTML }} {{ end }}</h1>
        <div class="rrss-group">
            <h2 class="subtitle-rrss"><i class="fa fa-instagram"></i> Instagram</h2>
            <div class="instafeed"></div>
            <div class="youtube-tw">
                <div class="twitter-box">
                    <h2 class="subtitle-rrss"><i class="fa fa-twitter"></i> Twitter</h2>
                    <a class="twitter-timeline" href="https://twitter.com/CEUS_chile" data-tweet-limit="3"></a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> 
                </div>>
                
            </div>        
        </div>
        
    </section>