{{ partial "header.html" . }}

{{ partial "navigation.html" . }}

<div class="author-section">
  <div class="about-author">
    {{ range $.Site.Params.authors.item }}
      <h1 class="author-title">{{ .Name }}</h1>
      <div class="profile-author">
        <img class="avatar-img" src="{{ .avatar | absURL }}">
        <p class="author-brief">{{ .description }}</p>
    {{ end }}
  </div>
  </div>
  <div class="articles-holder">
    {{ range $.Site.Params.authors.item }}
    <h2 class="author-subtitle">Revisa lo que ha escrito {{ .sobre }} en nuestro Blog</h2>
    {{ end }}
    <div class="articles-cards">
      {{ range .Data.Pages }}
      {{ .Render "article" }}
      {{ end }}
    </div>
  </div>

</div>

{{ partial "footer.html" . }}